<div>
    <div class="stopwatch" data-autostart="false">
        <div class="time">
            <span class="hours"></span> :
            <span class="minutes"></span> :
            <span class="seconds"></span>
        </div>
        <div class="controls">
            <!-- Some configurability -->
            <button class="toggle" data-pausetext="Pause" data-resumetext="Resume">Start</button>
            <button class="reset">Reset</button>
        </div>
    </div>
</div>