<div class="container">
    <div class="row stopwatch mb-1" data-autostart="false">
        <div class="time">
            <span class="hours"></span> :
            <span class="minutes"></span> :
            <span class="seconds"></span>
        </div>
        <div class="controls">
            <!-- Some configurability -->
            <button class="toggle btn btn-success" data-pausetext="Pause" data-resumetext="Resume">Start</button>
            <button class="reset btn btn-danger">Reset</button>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col">
            <label for="timesheet-description">Describe Your work</label>
            <textarea placeholder="description" name="description" class="description form-control" id="timesheet-description"></textarea>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <button class="btn btn-primary save-record" data-url="{{ path('app.timesheet.save') }}">Save timesheet</button>
        </div>
    </div>
    {% if timetrackerEntries is not null %}
        {% include 'app/partials/timetracker_table.html.twig' with timetrackerEntries %}
    {% endif %}
</div>